body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #003b7a;
    color: white;
}

.top-section {
    text-align: center;
    padding: 40px 20px;
}

.top-section h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ffce00;
}

.top-section p {
    font-size: 16px;
    max-width: 350px;
    margin: auto;
    line-height: 1.5;
}

.form-container {
    background: white;
    color: black;
    padding: 30px 20px;
    border-radius: 25px 25px 0 0;
    margin-top: 20px;
}

label {
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 16px;
    font-size: 20px;
    background: #ffce00;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #f0c300;
}

.note {
    margin-top: 15px;
    text-align: center;
    color: gray;
}
